<%= form_tag school_classes_path do %>
<h3>School Class Form</h3>
  <label>School Class Title</label><br>
  <%= text_field_tag :school_class_title %><br>

  <label>School Class Room Number</label><br>
  <%= number_field_tag :school_class_room_number %><br>

  <%= submit_tag "Create School class" %>
<% end %>